<?xml version="1.0" encoding="UTF-8" ?>
<module>
<name>ps_pickupinstore</name>
    <displayName><![CDATA[Pickup In Store]]></displayName>
    <version><![CDATA[1.0.6]]></version>
    <description><![CDATA[Accept pickup in store]]></description>
    <author><![CDATA[PrestaShark.eu]]></author>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
